// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
$font: 'Montserrat', sans-serif;

// colors
$main-color: #111;
$secondary-color: rgba(17, 17, 17, 0.48);
$header-border: rgba(17, 17, 17, 0.10);
$button-color: #01A7FD;
$footer-bg: #FAFAFA;
$el-bg: #F1F1F1;

// animation
$transition: 0.3s ease-in-out;